<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="nav">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}"><img src="/image/mainLogo.png" alt="메인 로고" style="width: 3rem; height: 2rem;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/main}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/article}">Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/main/map}">Map</a>
                </li>
            </ul>

            <div class="d-flex" style="margin-right: 5rem">
                <div sec:authorize="isAnonymous()">
                    <button type="button" class="btn btn-success" th:onclick="|location.href='@{/auth/login}'|">Login</button>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <button type="button" class="btn btn-warning" th:onclick="|location.href='@{/auth/edit/mypage}'|">MyPage</button>
                    <button type="button" style="margin-left: 2rem" class="btn btn-danger" th:onclick="|location.href='@{/auth/logout}'|">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>
</body>
</html>
